$light_grayish_cyan_table_filter: hsl(180, 31%, 95%);
$dark_grayish_cyan: hsl(180, 8%, 52%);
$very_dark_grayish: hsl(180, 14%, 20%);
$desaturated_dark_cyan: hsl(180, 29%, 50%);
$light_grayish_cyan_bg: hsl(180, 52%, 96%);