@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
@import './assets/common/color';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light_grayish_cyan_bg;
  font-family: 'Spartan', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
